<form method="post" action="{{ path('app_reservation_m_delete', {'id': reservation_m.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation_m.id) }}">
    <button class="btn">Delete</button>
</form>
