{% extends 'FrontOffice/baseF.html.twig' %}

{% block title %}Modifier la Formation{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">Modifier la Formation</h3>
                </div>
                <div class="card-body">
                    {{ include('formation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
            </div>
            <div class="mt-3">
                <a href="{{ path('app_formation_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
